Source: libbtbb
Section: libs
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 11),
               libpcap-dev,
               cmake
Build-Depends-Indep: python-all-dev
Standards-Version: 4.2.1
Vcs-Git: https://github.com/rubund/debian-libbtbb.git
Vcs-Browser: https://github.com/rubund/debian-libbtbb/tree/master
Homepage: http://libbtbb.sourceforge.net/

Package: libbtbb1
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Bluetooth baseband decoding library
 This is the Bluetooth baseband decoding library, forked from the GR-Bluetooth
 project. It can be used to extract Bluetooth packet and piconet information
 from Ubertooth devices as well as GR-Bluetooth/USRP.

Package: libbtbb-dev
Architecture: any
Section: libdevel
Depends: libbtbb1 (= ${binary:Version}),
         libpcap-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Bluetooth baseband decoding library - development files
 This is the Bluetooth baseband decoding library, forked from the GR-Bluetooth
 project. It can be used to extract Bluetooth packet and piconet information
 from Ubertooth devices as well as GR-Bluetooth/USRP.
 .
 This package provides the development files for using the btbb library.

Package: python-libbtbb-pcapdump
Architecture: all
Section: python
Depends: libbtbb1 (>= ${source:Version}),
         python,
         ${misc:Depends}
Description: pcapdump is a Python module for pcap delivered by libbtbb
 This module may be used to read and write pcap files produced by
 libbtbb. Actually libbtbb doesn't produce such files by itself at this
 time, but you can produce them with the Ubertooth tools.
